@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

:root {
  /* Backgrounds */
  --background: #ffffff;
  --surface: #f8fafc;

  /* Text */
  --foreground: #2A2D2D; /* Cor do texto geral (quase preto) */
  --text-on-light: #2A2D2D;
  --text-on-dark: #ffffff;
  --muted: #64748b;

  /* Brand */
  --primary: #ffffff; /* Mudado para branco para destacar o ícone no fundo verde */
  --primary-hover: #e2e8f0;

  --secondary: #24504F; /* Seu verde escuro */
  --secondary-hover: #1e3a3a; /* Um verde ainda mais escuro para hover */

  /* Borders */
  --border: #e2e8f0;

  /* Fonts */
  --font-body: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}